<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Vruster.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E210AD01E45D500007A0B25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E210AE71E45D501007A0B25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E210AF21E45D501007A0B25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
